@{
<<<<<<< HEAD
    ViewData["Title"] = "Home";
}

<div class="dashboard-wrapper">

    <!-- SUMMARY CARDS -->
    <div class="dashboard-cards">

        <div class="dashboard-card purple">
            <h4>Total products</h4>
            <span class="dashboard-number">3</span>
        </div>

        <div class="dashboard-card blue">
            <h4>Total Stock</h4>
            <span class="dashboard-number">195</span>
        </div>

    </div>

    <!-- RECENT ACTIVITY -->
    <div class="recent-activity">
        <h4>Recent Activity</h4>

        <div class="activity-row">
            <span>WeatherCoat</span>
            <span class="qty">Qty:60</span>
        </div>

        <div class="activity-row">
            <span>Apex Ultima</span>
            <span class="qty">Qty:15</span>
        </div>

        <div class="activity-row">
            <span>Tractor Emulsion</span>
            <span class="qty">Qty:120</span>
        </div>
    </div>

</div>
=======
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
>>>>>>> main
