@{
    ViewData["Title"] = "Stock";
}

<div class="stock-categories">
    <h3>Stock for @ViewBag.SelectedCategory</h3>
    @{
        ViewData["Title"] = "Stock";
    }

    <div class="stock-page">

        <h2>Stock Page</h2>

        <p>Select a category from the Category page to view stock.</p>

    </div>

</div>